/**
 * Colors Base
 * -------------------------------------------------------------------------- */
:root {
  --c-white: #ffffff;
  --c-black: #000000;

  --c-gray: #8e8e93;

  --c-text-light-1: rgba(60, 60, 67);
  --c-text-light-2: rgba(60, 60, 67, 0.75);
  --c-text-light-3: rgba(60, 60, 67, 0.33);

  --c-text-dark-1: rgba(255, 255, 245, 0.86);
  --c-text-dark-2: rgba(235, 235, 245, 0.6);
  --c-text-dark-3: rgba(235, 235, 245, 0.38);

  --c-green: #10b981;
  --c-green-light: #34d399;
  --c-green-lighter: #6ee7b7;
  --c-green-dark: #059669;
  --c-green-darker: #047857;
  --c-green-dimm-1: rgba(16, 185, 129, 0.05);
  --c-green-dimm-2: rgba(16, 185, 129, 0.2);
  --c-green-dimm-3: rgba(16, 185, 129, 0.5);

  --c-yellow: #d97706;
  --c-yellow-light: #f59e0b;
  --c-yellow-lighter: #fbbf24;
  --c-yellow-dark: #b45309;
  --c-yellow-darker: #92400e;
  --c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
  --c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
  --c-yellow-dimm-3: rgba(234, 179, 8, 0.5);

  --c-red: #f43f5e;
  --c-red-light: #fb7185;
  --c-red-lighter: #fda4af;
  --c-red-dark: #e11d48;
  --c-red-darker: #be123c;
  --c-red-dimm-1: rgba(244, 63, 94, 0.05);
  --c-red-dimm-2: rgba(244, 63, 94, 0.2);
  --c-red-dimm-3: rgba(244, 63, 94, 0.5);
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */
:root {
  --c-bg: #ffffff;

  --c-bg-elv: #ffffff;
  --c-bg-elv-up: #ffffff;
  --c-bg-elv-down: #f6f6f7;
  --c-bg-elv-mute: #f6f6f7;

  --c-bg-soft: #f6f6f7;
  --c-bg-soft-up: #f9f9fa;
  --c-bg-soft-down: #e3e3e5;
  --c-bg-soft-mute: #e3e3e5;

  --c-bg-alt: #f6f6f7;

  --c-border: rgba(60, 60, 67, 0.29);
  --c-divider: rgba(60, 60, 67, 0.12);
  --c-gutter: rgba(60, 60, 67, 0.12);

  --c-neutral: var(--c-black);
  --c-neutral-inverse: var(--c-white);

  --c-text-1: var(--c-text-light-1);
  --c-text-2: var(--c-text-light-2);
  --c-text-3: var(--c-text-light-3);

  --c-text-inverse-1: var(--c-text-dark-1);
  --c-text-inverse-2: var(--c-text-dark-2);
  --c-text-inverse-3: var(--c-text-dark-3);

  --c-text-code: #476582;

  --c-brand: var(--c-green);
  --c-brand-light: var(--c-green-light);
  --c-brand-lighter: var(--c-green-lighter);
  --c-brand-dark: var(--c-green-dark);
  --c-brand-darker: var(--c-green-darker);

  --c-mute: #f6f6f7;
  --c-mute-light: #f9f9fc;
  --c-mute-lighter: #ffffff;
  --c-mute-dark: #e3e3e5;
  --c-mute-darker: #d7d7d9;
}

.dark {
  --c-bg: #1e1e20;

  --c-bg-elv: #252529;
  --c-bg-elv-up: #313136;
  --c-bg-elv-down: #1e1e20;
  --c-bg-elv-mute: #313136;

  --c-bg-soft: #252529;
  --c-bg-soft-up: #313136;
  --c-bg-soft-down: #1e1e20;
  --c-bg-soft-mute: #313136;

  --c-bg-alt: #161618;

  --c-border: rgba(82, 82, 89, 0.68);
  --c-divider: rgba(82, 82, 89, 0.32);
  --c-gutter: #000000;

  --c-neutral: var(--c-white);
  --c-neutral-inverse: var(--c-black);

  --c-text-1: var(--c-text-dark-1);
  --c-text-2: var(--c-text-dark-2);
  --c-text-3: var(--c-text-dark-3);

  --c-text-inverse-1: var(--c-text-light-1);
  --c-text-inverse-2: var(--c-text-light-2);
  --c-text-inverse-3: var(--c-text-light-3);

  --c-text-code: #c9def1;

  --c-mute: #313136;
  --c-mute-light: #3a3a3c;
  --c-mute-lighter: #505053;
  --c-mute-dark: #2c2c30;
  --c-mute-darker: #252529;
}

/**
 * Nav
 */
:root {
  --nav-height: 64px;
}
